---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="The Daily Paper - About">
  <main>
    <p class="text-xl md:text-4xl mb-4">What is the Daily Paper?</p>
    <p class="text-md md:text-2xl mb-12">
      A small project by <a
        class="text-blue-500 hover:text-blue-800"
        href="https://github.com/kevin-wynn/"
        target="_blank">Kevin Wynn</a
      > in order to keep an easily digestable, and sane amount, of daily news to
      read through during the day. Mostly in order to stay up to date on current
      events. But also as a playground to test new design and development practices.
      The Daily Paper currently is powered by <a
        class="text-blue-500 hover:text-blue-800"
        href="https://astro.build"
        target="_blank">Astro</a
      >, <a
        class="text-blue-500 hover:text-blue-800"
        target="_blank"
        href="https://pages.cloudflare.com/">Cloudflare Pages</a
      >, and RSS feeds tied to various news sources.
    </p>
    <p class="text-md md:text-2xl mb-12">
      I hope you enjoy this small gift. And I hope be able to round out the news
      sources better over the years.
    </p>
  </main>
</Layout>
