---
import Layout from "../layouts/Layout.astro";
import convert from "xml-js";
import { newsFeedURLs, NewsSourceType } from "../helpers/newsHelper";
import { getRSSNews } from "../api/news";
import { NewsSourceList } from "../components/NewsSourceList";
import { NewsSourceFilter } from "../components/NewsSourceFilter";

// export const prerender = true;

export interface NewsItemType extends NewsSourceType {
  items: string;
}

let news: NewsItemType[] = [];

await Promise.all(
  newsFeedURLs.map(async (newsSource) => {
    const newsText = await getRSSNews(newsSource.url);
    news.push({
      items: newsText || "",
      ...newsSource,
    });
  })
);
---

<Layout title="The Daily Paper">
  <main>
    <NewsSourceFilter sources={news} client:load />
    {
      news.map((newsItem: NewsItemType) => {
        const json = convert.xml2json(newsItem.items, {
          compact: true,
        });

        const items = JSON.parse(json).rss.channel.item;
        const lastBuildDate = JSON.parse(json).rss.channel.lastBuildDate._text;
        items.length = 6;

        return (
          <NewsSourceList
            lastBuildDate={lastBuildDate}
            newsItem={newsItem}
            items={items}
            client:load
          />
        );
      })
    }
  </main>
</Layout>
