---
import Layout from "../layouts/Layout.astro";
import convert from "xml-js";
import { newsFeedURLs, NewsSourceType } from "../helpers/newsHelper";
import { getRSSNews } from "../api/news";
import { NewsSourceList } from "../components/NewsSourceList";

// export const prerender = true;

export interface NewsItem extends NewsSourceType {
  items: string;
}

let news: NewsItem[] = [];

await Promise.all(
  newsFeedURLs.map(async (newsSource) => {
    const newsText = await getRSSNews(newsSource.url);
    news.push({
      items: newsText || "",
      ...newsSource,
    });
  })
);
---

<Layout title="The Daily Paper">
  <main>
    <h1 class="text-5xl md:text-9xl underline mb-2">The Daily Paper</h1>
    <p class="text-xl md:text-4xl mb-12">
      Your daily source for aggregated news.
    </p>
    {
      news.map((newsItem: NewsItem) => {
        const json = convert.xml2json(newsItem.items, {
          compact: true,
        });

        const items = JSON.parse(json).rss.channel.item;
        const lastBuildDate = JSON.parse(json).rss.channel.lastBuildDate._text;
        items.length = 6;

        return (
          <NewsSourceList
            lastBuildDate={lastBuildDate}
            newsItem={newsItem}
            items={items}
            client:load
          />
        );
      })
    }
  </main>
</Layout>
